<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-vector-map id="vector-map" [bounds]="[-118, 52, -80, 20]">
      <dxo-size [height]="650"> </dxo-size>
      <dxo-tooltip
        [enabled]="true"
        [customizeTooltip]="customizeTooltip"
      ></dxo-tooltip>
      <dxi-layer [dataSource]="usaMap" [hoverEnabled]="false"></dxi-layer>
      <dxi-layer [dataSource]="markers"></dxi-layer>
    </dx-vector-map>
  </div>
</div>
<h2 class="content-block">Repo</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <i class="dx-icon-link"></i><span style="padding-left: 5px"></span>
    <a href="https://dev.azure.com/dayafter/line-ready-api" target="_blank"
      >https://dev.azure.com/dayafter/line-ready-api</a
    >
  </div>
</div>
<h2 class="content-block">Raw Data</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-scroll-view
      #scrollView
      id="scrollview"
      scrollByContent="true"
      scrollByThumb="true"
      showScrollbar="always"
      width="100%"
      height="500"
      reachBottomText="Updating..."
    >
      <pre [innerHTML]="rawData"></pre>
    </dx-scroll-view>
  </div>
</div>
<h2 class="content-block">Connect</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <i class="dx-icon-link"></i><span style="padding-left: 5px"></span>
    <a href="https://line-ready-api.azurewebsites.net/" target="_blank"
      >https://line-ready-api.azurewebsites.net/</a
    >
  </div>
</div>
