<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-gallery
      [dataSource]="dataSource"
      [height]="650"
      width="100%"
      [loop]="true"
      [showNavButtons]="true"
      [showIndicator]="true"
    >
      <div *dxTemplate="let galleryItem of 'item'">
        <div>
          <img src="{{ galleryItem.speciesIllustrationPhoto.src }}" />
        </div>
        <div>
          <h2>{{ galleryItem.speciesName }}</h2>
          <blockquote>
            <p>{{ galleryItem.habitat }}</p>
            <p>{{ galleryItem.quote }}</p>
          </blockquote>
        </div>
      </div>
    </dx-gallery>
  </div>
</div>
<h2 class="content-block">API Information</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings"></div>
</div>
