<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-gallery
      [dataSource]="dataSource"
      [height]="650"
      width="100%"
      [loop]="true"
      [showNavButtons]="true"
      [showIndicator]="true"
    >
      <div *dxTemplate="let galleryItem of 'item'">
        <div>
          <img src="{{ galleryItem.speciesIllustrationPhoto.src }}" />
        </div>
        <div>
          <h2>{{ galleryItem.speciesName }}</h2>
          <blockquote>
            <p>Habitat: {{ galleryItem.habitat }}</p>
            <p>Quote: {{ galleryItem.quote }}</p>
            <p>Fish Rate: {{ galleryItem.fishingRate }}</p>
            <p>Fat Total: {{ galleryItem.fatTotal }}</p>
          </blockquote>
        </div>
      </div>
    </dx-gallery>
  </div>
</div>
<h2 class="content-block">Raw Data</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-html-editor height="550px">
      <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
      <pre>
        {{ rawData }}
      </pre>
    </dx-html-editor>
  </div>
</div>
<h2 class="content-block">Repo</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings"></div>
</div>
