<ng-container *ngIf="isAutorized(); else notAuthorized">
  <app-side-nav-outer-toolbar title="{{ appInfo.title }}">
    <router-outlet></router-outlet>

    <app-footer>
      Copyright © 2011-{{ appInfo.currentYear }} Line Ready
      <br />
      Developed by:
      <a href="https://github.com/Iturea" target="_blank">Daniel Penrod</a>
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #notAuthorized>
  <app-single-card>
    <router-outlet></router-outlet>
  </app-single-card>
</ng-template>
