<div class="content-block">
  <div class="dx-card responsive-paddings clientContainer">
    <div class="progress-info">
      {{ statusMsg }} <span [innerHTML]="webLink"></span> {{ seconds | time }}
    </div>
    <iframe
      src="https://line-ready-nodejs.azurewebsites.net/"
      width="100%"
      [height]="frameHeight + 'px'"
      style="border: 0; width: 100%"
      (load)="loadDone()"
    ></iframe>
    <dx-progress-bar
      #progressBar
      id="progress-bar-status"
      width="100%"
      [class.complete]="progressBar.value == maxValue"
      [min]="0"
      [max]="maxValue"
      [statusFormat]="format"
      [value]="maxValue - seconds"
    >
    </dx-progress-bar>
  </div>
</div>
