<h2 class="content-block">Home</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <table>
      <tr>
        <td>
          <i class="dx-icon dx-icon-warning"></i>
        </td>
        <td style="text-align: left">
          <h6>
            This is an example
            <a href="https://angular.io/" target="_blank">Angular</a> site for
            concept purposes only.
          </h6>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <div class="content-block">
            <div class="dx-card responsive-paddings offsetBk">
              <img src="assets/img/line-ready.png" height="300" />
              <p>
                Repo:
                <a
                  href="https://dev.azure.com/dayafter/line-ready"
                  target="_blank"
                  >https://dev.azure.com/dayafter/line-ready</a
                >
                <br />
                Site:
                <a href="https://line-ready.azurewebsites.net/" target="_blank"
                  >https://line-ready.azurewebsites.net/</a
                >
              </p>
              <p>
                An example application for using Node / Express and <br />
                Azure DevOps (CI/CD)
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="content-block">
            <div class="dx-card responsive-paddings offsetBk">
              <img src="assets/img/line-ready-api.png" height="300" />
              <p>
                Repo:
                <a
                  href="https://dev.azure.com/dayafter/line-ready-api"
                  target="_blank"
                  >https://dev.azure.com/dayafter/line-ready-api</a
                >
                <br />
                Site:
                <a
                  href="https://line-ready-api.azurewebsites.net/"
                  target="_blank"
                  >https://line-ready-api.azurewebsites.net/</a
                >
              </p>
              <p>
                An example .NET CORE REST API using <br />
                Azure DevOps (CI/CD)
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
