<div class="content-block">
  <div class="dx-card responsive-paddings">
    <img src="assets/img/line-ready-logo.png" width="100%" />
  </div>
</div>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-pie-chart
      id="pie"
      type="doughnut"
      title="Fishing Availability"
      palette="Pastel"
      paletteExtensionMode="Blend"
      [dataSource]="fishByAvailabilityDataSource"
    >
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-legend
        horizontalAlignment="center"
        verticalAlignment="bottom"
      ></dxo-legend>
      <dxi-series argumentField="availability" valueField="val">
        <dxo-small-values-grouping
          mode="topN"
          [topCount]="3"
        ></dxo-small-values-grouping>
        <dxo-label
          [visible]="true"
          format="fixedPoint"
          [customizeText]="customizeLabel"
        >
          <dxo-connector [visible]="true" [width]="1"></dxo-connector>
        </dxo-label>
      </dxi-series>
    </dx-pie-chart>
    <br /><br />
    <dx-data-grid
      id="gridContainer"
      height="550"
      [dataSource]="staticFishDataDataSource"
      [columns]="[
        'id',
        'scientificName',
        'speciesName',
        'calories',
        'cholesterol',
        'fatTotal',
        'saturatedFattyAcidsTotal',
        'sodium'
      ]"
      [showBorders]="true"
    >
      <dxo-search-panel
        visible="true"
        width="240"
        placeholder="Search..."
      ></dxo-search-panel>
    </dx-data-grid>
  </div>
</div>
