@import "sass/variables";

blockquote {
  color: $contentColor;
  margin: auto;
  width: 50%;
  border-left: 10px solid $accentColor;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: left;
  p {
    display: block;
  }
}

.dx-gallery-item {
  white-space: pre-wrap;
}

.offsetBk {
  background: $contentOffsetBgColor;
  color: $contentOffsetColor;
}

pre {
  color: #f4f4f4;
  background: #2a2a32;
}
.string {
  color: #28a745;
}
.number {
  color: #dc3545;
}
.boolean {
  color: #007bff;
}
.null {
  color: #343a40;
}
.key {
  color: #ffc107;
}

#progress-bar-status {
  display: inline-block;
}
.complete .dx-progressbar-range {
  background-color: green;
}

.clientContainer {
  background: url(assets/img/clientblur.png);
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}
